# URL del backend (NestJS)
VITE_API_URL=http://localhost:3000/api/v1

# Payment Gateway Sandbox
VITE_PAYMENT_PUBLIC_KEY=your_public_key_here
VITE_PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
